/*general styling for slides*/
.slide {
	/*pad the inside of the slide*/
	padding: 20px;

    /*center slide within window*/
	margin-left: auto;
	margin-right: auto;

	/*all elements in a slide will be centered by default*/
    text-align: center;
    /*border: 5px solid;*/
    width: 800px;

    /*could explicitly set the following, but these are the defaults for me (chrome, linux)*/
    font-size: 14px;
}

body {
	background-color: rgb(50,50,50);
}

img {
	border: 2px solid black;
	margin-top: 90px;
	margin-bottom: 90px;
}