.slide {
	padding: 10px;
	margin: 10px auto 10px auto;
	text-align: center;
	font-size: 20px;
	font-family: "Bookman Old Style", Bookman, serif;
	color: rgb(200, 180, 220);
	position: relative;
}

#start {
	padding-top: 200px;
	padding-bottom: 200px;
}

.session-info {
	padding: 500px auto 500px auto;
}

table {
	width: 100%;
	margin: 0 auto 0 auto;
/*	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
*/}

tr {
	margin: 0;
}

p.fun-text {
	font-size: 80px;
	color: rgb(250, 90, 0);
	margin-top: 10px;
	margin-bottom: 10px;
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
}

p.instructions1 {
	width: 30%;
	margin: 170px auto 10px auto;
	text-align: justify;
}

p.instructions2 {
	width: 35%;
	margin: 10px auto 170px auto;
	text-align: center;
	font-size: 40px;
}

img {
	border: 2px solid black;
	width: 600px;
	margin-top: 10px;
	margin-bottom: 10px
}

img#endingpic {
	width: 500px;
}

.btn {
	background-color: rgb(250,250,250);
	font-family: "Bookman Old Style", Bookman, serif;
	color: rgb(240, 220, 260);
	font-size: 16px;
	padding: 6px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	border: none;
	margin: 5px;
}

button:focus {
	outline:0 !important;
}

.session-info {
	width: 400px;
	margin: auto;
}

.controls {
	text-align: right;
	font-size: 12px;
	width: 260px;
	margin: auto;
}

input {
	background-color: rgb(250,250,250);
	font-family: "Bookman Old Style", Bookman, serif;
	color: rgb(250, 90, 0);
	font-size: 12px;
	padding: 6px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
	border: none;
	margin: 5px;
}

input:focus {
	outline:0 !important;
}

.header {
	margin: 0 auto 60px auto;
}

.footer {
	margin: 80px auto 20px auto;
}

/*progress bar stuff from bootstrap css*/
.progress{
	height: 10px;
	margin-bottom: 0px;
	overflow: hidden;
	background-color: rgba(250, 90, 0, .1);
	border-radius: 4px;
}

.progress-bar{
	float: left;
	width: 0;
	height: 100%;
	line-height: 20px;
	text-align: center;
	background-color: rgba(250, 90, 0, 1);
	-webkit-transition: width .6s ease;-o-transition:width .6s ease;
	transition: width .6s ease
}
